In [22]:
import pandas as pd
import numpy as np
import math
#loan_status

In [23]:
loanDataSetdtype = {"id": object, "next_pymnt_d": object, "desc": object, "verification_status_joint": object}
df_loan = pd.read_csv('loanData2.csv',header=0, dtype = loanDataSetdtype)

In [24]:
df_reject = pd.read_csv('rejectLoanData2.csv',header=0)

In [25]:
contains = df_loan['loan_status'].str.contains("Does not meet the credit policy")
not_contains = ~contains

In [26]:
df_loan['grant_loan'] = 1

In [27]:
df_loan_contains = df_loan[contains]
df_loan_no_contains = df_loan[not_contains]
df_loan_contains['grant_loan'].replace(1, 0,inplace=True)
print(df_loan_contains.shape)
print(df_loan_no_contains.shape)

(2720, 111)
(1319098, 111)

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:3554: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [28]:
df_loan = df_loan_contains.append(df_loan_no_contains)

In [29]:
df_loan.rename(columns={'ficoMean':'Fico_Score','loan_amnt':'Amount_Requested','issue_d':'Application_Date','dti':'Debt-To-Income-Ratio','addr_state':'State','emp_length':'Employment_Length','policy_code':'Policy_Code','zip_code':'Zip_Code'},inplace=True)

In [30]:
#Add ficoMean Column
df_loan_new = df_loan[['Amount_Requested','Employment_Length','Application_Date','Zip_Code','State','Debt-To-Income-Ratio','Policy_Code','grant_loan','Fico_Score']]

In [31]:
def addVantageToFico(df_input):
    ceil_function= lambda x: math.ceil(x)
    df_input['Fico_Score'] = (df_input['Risk_Score']-500)*1.124 + 299
    df_input['Fico_Score']=df_input['Fico_Score'].apply(ceil_function)
    return df_input

In [32]:
df_reject.shape

(4676588, 11)

In [33]:
df_reject = df_reject[df_reject.Risk_Score <= 850]

In [148]:
df_reject = df_reject[df_reject.Risk_Score>500]

In [34]:
df_reject.shape

(4665607, 11)

In [37]:
pd.unique(df_reject[df_reject['Risk_Score'] > 850]['Risk_Score'])

array([], dtype=int64)

In [150]:
df_reject = addVantageToFico(df_reject)

In [38]:
df_reject['grant_loan'] = 0

In [39]:
df_reject.head()

,Unnamed: 0,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income-Ratio,Zip_Code,State,Employment_Length,Policy_Code,Risk_Score_Mean,grant_loan
0,0,1000,2007-05-26,Wedding Covered but No Honeymoon,693,10.00,481,NM,4.0,0,693.0,0
1,1,1000,2007-05-26,Consolidating Debt,703,10.00,10,MA,0.0,0,703.0,0
2,2,11000,2007-05-27,Want to consolidate my debt,715,10.00,212,MD,1.0,0,715.0,0
3,3,6000,2007-05-27,waksman,698,38.64,17,MA,0.0,0,698.0,0
4,4,1500,2007-05-27,mdrigo,509,9.43,209,MD,0.0,0,509.0,0

In [40]:
df_reject.rename(columns={'Risk_Score':'Fico_Score'},inplace=True)

In [41]:
df_reject_new = df_reject[['Amount_Requested','Employment_Length','Application_Date','Zip_Code','State','Debt-To-Income-Ratio','Policy_Code','grant_loan','Fico_Score']]

In [42]:
col_loans = np.array(df_loan_new.columns)
col_reject = np.array(df_reject_new.columns)

In [43]:
for val in col_loans:
    for val1 in col_reject:
        if val.lower() == val1.lower():
            print(val)

Amount_Requested
Employment_Length
Application_Date
Zip_Code
State
Debt-To-Income-Ratio
Policy_Code
grant_loan
Fico_Score

In [44]:
print(df_loan_new.shape)
print(df_reject_new.shape)

(1321818, 9)
(4665607, 9)

In [45]:
df_final = df_loan_new.append(df_reject_new)

In [46]:
df_final.reindex()

,Amount_Requested,Employment_Length,Application_Date,Zip_Code,State,Debt-To-Income-Ratio,Policy_Code,grant_loan,Fico_Score
39786,2950.0,0.0,Dec-2010,703,LA,21.06,1,0,712
39787,20000.0,10.0,Dec-2010,636,MO,13.39,1,0,667
39788,3500.0,10.0,Dec-2010,493,MI,11.62,1,0,697
39789,5000.0,5.0,Dec-2010,64,CT,15.71,1,0,667
39790,2500.0,6.0,Dec-2010,287,NC,18.49,1,0,677
39791,5000.0,7.0,Dec-2010,194,PA,15.77,1,0,667
39792,15000.0,4.0,Dec-2010,986,WA,4.55,1,0,697
39793,10000.0,5.0,Dec-2010,906,CA,21.11,1,0,662
39794,3000.0,10.0,Dec-2010,300,GA,18.44,1,0,682
39795,5000.0,3.0,Dec-2010,916,CA,19.91,1,0,697
39796,7200.0,10.0,Dec-2010,601,IL,22.42,1,0,697
39797,11850.0,4.0,Dec-2010,958,CA,24.38,1,0,672
39798,15000.0,9.0,Dec-2010,80,NJ,14.90,1,0,692
39799,10925.0,3.0,Dec-2010,980,WA,5.61,1,0,692
39800,8000.0,1.0,Dec-2010,302,GA,23.08,1,0,692
39801,8500.0,3.0,Dec-2010,126,NY,18.38,1,0,682
39802,7000.0,10.0,Dec-2010,106,NY,11.06,1,0,677
39803,10000.0,10.0,Dec-2010,914,CA,16.66,1,0,677
39804,4200.0,2.0,Dec-2010,980,WA,9.41,1,0,667
39805,3000.0,3.0,Dec-2010,180,PA,8.12,1,0,707
39806,6400.0,5.0,Dec-2010,907,CA,13.42,1,0,697
39807,3000.0,3.0,Dec-2010,104,NY,19.74,1,0,672
39808,10000.0,5.0,Dec-2010,787,TX,15.02,1,0,677
39809,6500.0,3.0,Dec-2010,328,FL,5.60,1,0,702
39810,16400.0,2.0,Dec-2010,456,OH,23.56,1,0,667
39811,3200.0,2.0,Dec-2010,280,NC,24.47,1,0,682
39812,7000.0,3.0,Dec-2010,103,NY,4.97,1,0,697
39813,4800.0,5.0,Dec-2010,958,CA,24.18,1,0,677
39814,1600.0,5.0,Dec-2010,337,FL,6.23,1,0,707
39815,8000.0,5.0,Dec-2010,856,AZ,9.49,1,0,682
...,...,...,...,...,...,...,...,...,...
4676557,15000.0,0.0,2016-12-31,920,CA,0.10,0,0,459
4676558,8500.0,0.0,2016-12-31,112,NY,24.61,0,0,628
4676559,12125.0,0.0,2016-12-31,317,GA,100.00,0,0,674
4676560,10000.0,0.0,2016-12-31,104,NY,7.51,0,0,704
4676561,40000.0,0.0,2016-12-31,993,WA,26.46,0,0,639
4676562,2000.0,0.0,2016-12-31,307,GA,338.13,0,0,564
4676563,5000.0,0.0,2016-12-31,800,CO,5.36,0,0,689
4676564,10000.0,2.0,2016-12-31,114,NY,1.78,0,0,714
4676566,6000.0,0.0,2016-12-31,860,AZ,15.72,0,0,604
4676567,3000.0,0.0,2016-12-31,996,AK,0.25,0,0,579
4676568,10000.0,0.0,2016-12-31,236,VA,244.02,0,0,650
4676569,5000.0,0.0,2016-12-31,923,CA,42.68,0,0,501
4676570,25000.0,0.0,2016-12-31,915,CA,32.85,0,0,610
4676571,8600.0,0.0,2016-12-31,190,PA,27.47,0,0,729
4676572,3000.0,0.0,2016-12-31,326,FL,18.09,0,0,672
4676573,15000.0,0.0,2016-12-31,638,MO,8.49,0,0,664
4676574,2000.0,0.0,2016-12-31,780,TX,35.64,0,0,559
4676575,5000.0,0.0,2016-12-31,802,CO,2.05,0,0,485
4676576,5000.0,0.0,2016-12-31,200,DC,5.95,0,0,585
4676577,1000.0,0.0,2016-12-31,549,WI,0.00,0,0,509
4676578,35000.0,0.0,2016-12-31,113,NY,3.45,0,0,702
4676579,15000.0,0.0,2016-12-31,958,CA,6.02,0,0,589
4676580,2500.0,0.0,2016-12-31,465,IN,0.00,0,0,527
4676581,30000.0,0.0,2016-12-31,125,NY,11.90,0,0,730
4676582,7000.0,0.0,2016-12-31,283,NC,20.24,0,0,678
4676583,30000.0,0.0,2016-12-31,726,AR,55.15,0,0,681
4676584,1000.0,0.0,2016-12-31,761,TX,31.31,0,0,531
4676585,10000.0,0.0,2016-12-31,441,OH,41.26,0,0,590
4676586,1200.0,0.0,2016-12-31,914,CA,10.26,0,0,686
4676587,15000.0,0.0,2016-12-31,113,NY,10.58,0,0,684

In [47]:
df_final.dtypes

Amount_Requested        float64
Employment_Length       float64
Application_Date         object
Zip_Code                  int64
State                    object
Debt-To-Income-Ratio    float64
Policy_Code               int64
grant_loan                int64
Fico_Score                int64
dtype: object

In [48]:
print(df_final[df_final['grant_loan'] == 0].shape)
print(df_final[df_final['grant_loan'] == 1].shape)

(4668327, 9)
(1319098, 9)

In [50]:
df_final.to_csv('classification.csv',header=True,index=False)

In [37]:
pd.unique(df_reject['Risk_Score'])

array([693, 703, 715, 698, 509, 645, 700, 694, 573, 710, 680, 688, 704,
       708, 685, 712, 684, 686, 719, 602, 475, 695, 671, 638, 429, 632,
       579, 474, 463, 593, 578, 536, 524, 520,   0, 658, 492, 581, 543,
       660, 503, 556, 480, 592, 600, 460, 654, 486, 547, 454, 665, 561,
       565, 479, 444, 549, 599, 650, 607, 419, 758, 504, 711, 530, 473,
       606, 502, 497, 709, 412, 506, 472, 507, 567, 551, 552, 643, 647,
       531, 612, 656, 528, 558, 461, 522, 690, 559, 633, 481, 679, 494,
       582, 583, 468, 576, 696, 545, 626, 640, 667, 609, 450, 716, 653,
       621, 629, 615, 608, 628, 585, 493, 512, 598, 490, 588, 523, 557,
       548, 489, 535, 639, 478, 736, 533, 635, 631, 445, 590, 619, 611,
       652, 537, 525, 560, 470, 634, 603, 532, 569, 605, 544, 516, 483,
       651, 604, 455, 594, 642, 529, 617, 589, 683, 508, 564, 572, 482,
       515, 789, 595, 596, 646, 702, 538, 462, 625, 666, 570, 657, 655,
       495, 488, 484, 510, 505, 566, 601, 534, 571, 623, 527, 701, 574,
       542, 487, 433, 432, 514, 464, 554, 501, 485, 449, 726, 661, 727,
       586, 563, 575, 491, 456, 597, 720, 724, 676, 562, 499, 546, 644,
       539, 467, 453, 500, 519, 641, 424, 430, 469, 669, 418, 526, 618,
       541, 553, 620, 440, 477, 637, 496, 465, 435, 610, 451, 471, 697,
       448, 550, 428, 417, 511, 420, 577, 555, 591, 452, 614, 457, 400,
       518, 662, 668, 689, 663, 622, 437, 517, 568, 705, 425, 466, 636,
       513, 674, 427, 476, 664, 624, 648, 431, 627, 616, 441, 458, 659,
       442, 670, 410, 613, 682, 498, 434, 580, 415, 630, 587, 540, 389,
       584, 673, 717, 769, 706, 447, 407, 707, 391, 459, 436, 681, 438,
       390, 746, 678, 422, 396, 750, 729, 763, 363, 649, 395, 414, 388,
       699, 443, 446, 406, 521, 423, 734, 744, 786, 713, 807, 416, 741,
       691, 751, 692, 739, 386, 675, 413, 723, 718, 687, 409, 761, 677,
       401, 439, 730, 672, 426, 743, 380, 745, 794, 408, 738, 747, 722,
       411, 421, 737, 759, 404, 725, 764, 399, 742, 765, 776, 405, 721,
       733, 772, 735, 768, 385, 770, 803, 714, 775, 755, 808, 811, 731,
       762, 753, 788, 740, 732, 752, 792, 402, 800, 749, 773, 797, 782,
       372, 403, 377, 766, 728, 757, 787, 810, 760, 780, 754, 382, 381,
       375, 756, 802, 801, 774, 777, 394, 771, 815, 748, 804, 798, 783,
       368, 398, 781, 392, 397, 793, 791, 795, 778, 767, 373, 784, 393,
       805, 383, 821, 384, 378, 790, 812, 809, 779, 819, 785, 806, 365,
       796, 816, 813, 814, 799, 828, 818, 387, 822, 366, 374, 817, 371,
       824, 820, 364, 367, 825, 823, 379, 832, 849, 826, 829, 830, 834,
       836, 840, 838, 833, 839, 846, 831, 827, 843, 842, 850, 835, 841,
       844, 837, 847, 848, 845, 884, 980, 882, 854, 971, 875, 885, 859,
       857, 856, 866, 899, 853, 937, 881, 870, 867, 902, 871, 851, 860,
       936, 862, 863, 874, 925, 883, 868, 918, 880, 920, 855, 864, 876,
       931, 858, 852, 873, 892, 887, 932, 917, 869, 894, 913, 893, 970,
       922, 865, 946, 901, 878, 890, 877, 987, 990, 904, 934, 900, 897,
       896, 889, 886, 957, 879, 966, 942, 930, 905, 938, 912, 888, 988,
       919, 963, 895, 968, 949, 914, 861, 965, 951, 978, 910, 928, 923,
       921, 909, 908, 924, 944, 891, 960, 907, 955, 953, 898, 939, 926,
       872, 948, 950, 956, 954, 940, 986, 903, 941, 916, 976, 927, 933,
       947, 911, 945, 975, 967, 943, 935, 915, 961, 906, 973, 343, 339,
       362, 355, 357, 360, 340, 300, 959, 320, 958, 359, 337, 358, 974,
       322, 331, 334, 347, 977, 307, 316, 342, 318, 326, 344, 345, 351,
       356, 352, 369, 984, 346, 982, 332, 349, 929, 972, 324, 328, 952,
       335, 338, 354, 333, 309, 989, 306, 350, 336, 313, 361, 321, 303,
       329, 376, 308, 979, 341, 353, 304, 325, 348, 317, 983, 962, 330,
       370, 964, 981, 314, 311, 315, 969, 305, 323, 327, 310, 301, 985,
       312, 319, 302])

In [15]:
df_reject.dtypes

Unnamed: 0                int64
Amount_Requested          int64
Application_Date         object
Loan_Title               object
Risk_Score                int64
Debt-To-Income-Ratio    float64
Zip_Code                  int64
State                    object
Employment_Length       float64
Policy_Code               int64
Risk_Score_Mean         float64
grant_loan                int64
dtype: object

Convert Vantage Score from 1.0 Scale to 3.0 Scale
https://your.vantagescore.com/interpret_scores

In [47]:
df

In [48]:
df_reject[['Risk_Score','ficoScore']]

         Risk_Score  ficoScore
0               693        516
1               703        528
2               715        541
3               698        522
4               509        310
5               645        462
6               693        516
7               700        524
8               694        518
9               573        382
10              710        536
11              680        502
12              688        511
13              704        529
14              694        518
15              708        533
16              685        507
17              698        522
18              680        502
19              680        502
20              712        538
21              704        529
22              693        516
23              684        506
24              704        529
25              686        509
26              698        522
27              719        546
28              602        414
29              475        271
...             ...        ...
4676558         628        443
4676559         674        495
4676560         704        529
4676561         639        456
4676562         564        371
4676563         689        512
4676564         714        540
4676565         852        695
4676566         604        416
4676567         579        388
4676568         650        468
4676569         501        301
4676570         610        423
4676571         729        557
4676572         672        493
4676573         664        484
4676574         559        366
4676575         485        283
4676576         585        395
4676577         509        310
4676578         702        527
4676579         589        400
4676580         527        330
4676581         730        558
4676582         678        500
4676583         681        503
4676584         531        334
4676585         590        401
4676586         686        509
4676587         684        506

[4676588 rows x 2 columns]

In [ ]:
pd.unique(df_loan['grant_loan'])

In [ ]:
df_loan[df_loan['grant_loan'] == 0].shape

In [ ]:
df_loan[df_loan['loan_status'].str.contains("Does not meet the credit policy")].grant_loan.replace(0, 1,inplace=True)

In [ ]:
pd.unique(df_loan['grant_loan'])

In [ ]:
df_loan['grant_loan'] = 
df_loan[df_loan['loan_status'].str.contains("Does not meet the credit policy")].replace(0, 1,inplace=True)

In [ ]:
pd.unique(df_loan)

In [ ]:
grant_loan_df = df_loan[~no_grant_loan]
no_grant_loan_df = df_loan[no_grant_loan]

In [ ]:
no_grant_loan_df['grant_loan'].replace(0, 1,inplace=True)

In [ ]:
df_loan['grant_loan']

In [ ]:
df_reject.columns

In [ ]:
df_reject.dtypes

In [ ]:
df_reject